
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
    </div>
  </header>
  <div class="cover-heading">
    Test de Slashers de mierda y sus tropes
  </div>
  <main role="main" class="inner cover home-card">
    
    <p class="lead">
      ¿Alguna vez se ha preguntado si usted seria capaz de sobrevivir
      en una pelicula slasher de mierda de Hollywood de 
      esas que usted ve y siente que perdio dos horas de su vida?
    </p>

  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>&copy; El bañazo de Arias</p>
    </div>
  </footer>
</div>